---
---

$header-heading-color: #fff !default;
$header-bg-color: #fafafa;
$header-bg-color-secondary: #ececec;
$section-headings-color: #009361;

@import "{{ site.theme }}";

  .btn {
    color: #009361;
    border-color: #009361; 
    // background-color: #000000;
  } 

  .btn:hover {
    color: #000000;
    text-decoration: none;
    // background-color: #000000;
    border-color: #000000;
  }

   .video-header {
    border: 1px solid #009361;
	   
   @include large {
    max-width: 64rem;
    padding: 0rem 6rem;
	margin: 0 auto;
  }

  @include medium {
    padding: 0rem 4rem;
  }

  @include small {
    padding: 0rem 1rem;
  }
  }

  .page-header {
    border: 1px solid #009361;
	  
    @include large {
      padding: 3rem 6rem;
    }

    @include medium {
      padding: 2rem 4rem;
    }

    @include small {
      padding: 1rem 1rem;
    }
   }


