---
---

$header-heading-color: #fff !default;
$header-bg-color: #f7f7f7;
$header-bg-color-secondary: #ececec;
$section-headings-color: #009361;

@import "{{ site.theme }}";

  .btn {
    color: #009361;
    border-color: #009361; 
    // background-color: #000000;
  } 

  .btn:hover {
    color: #000000;
    text-decoration: none;
    // background-color: #000000;
    border-color: #000000;
  }

   .video-header {
   @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
	margin: 0 auto;
  }

  @include medium {
    padding: 2rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
  }